body {
    background-color: dark grey;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand, .nav-link {
    color: white !important;
}

h1, h2 {
    color: #343a40;
}

img {
    max-width: 100%;
    height: auto;
}
