body {
    background-color:#f8f9fa ;
}

.navbar {
    background-color: dark grey;
}

.navbar-brand, .nav-link {
    color: white !important;
}
.container {
    background-color:grey;
}
h1, h2 {
    color: #343a40;
}

img {
    max-width: 100%;
    height: auto;
}
